<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #4267B2;
        }

        h1{
            color: #fff;
            margin-top: 20%;
            background-color: #4267B2;
        }
    </style>
</head>
<body>
    <center><h1>You are already logged out!!!</h1>
            <h6>Go back to login again</h6>
            <a href="{% url 'login' %}" style="color: white;">Login</a>
    </center>
    
</body>
</html>